html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type=button]::-moz-focus-inner,
  [type=reset]::-moz-focus-inner,
  [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type=button]:-moz-focusring,
  [type=reset]:-moz-focusring,
  [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type=checkbox],
  [type=radio] {
    box-sizing: border-box;
    padding: 0;
  }
  
  [type=number]::-webkit-inner-spin-button,
  [type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  
  [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  @font-face {
    font-family: Al-Jazeera-Light;
    src: url(/fonts/Al-Jazeera-Arabic-Light.ttf?96ece0adb2d663734c1143a04e45aeee);
  }
  
  @font-face {
    font-family: Al-Jazeera-Regular;
    src: url(/fonts/Al-Jazeera-Arabic-Regular.ttf?e55b32cdf8eb35dea0fdbebca965d752);
  }
  
  .container {
    padding: 0;
  }
  
  .navbar-laravel {
    background-color: #fefffc;
    box-shadow: 0 0.0833333333rem 0.1666666667rem rgba(0, 0, 0, 0.04);
  }
  
  .alert {
    z-index: 1;
  }
  
  .clear {
    clear: both;
  }
  
  .fr {
    float: right;
  }
  
  .fl {
    float: left;
  }
  
  .corner {
    border-radius: 0.208rem;
  }
  
  .border {
    border: 0.0416666667rem solid black !important;
  }
  
  .radius {
    border-radius: 0.125rem;
  }
  
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }
  
  .btn {
    font-size: 0.625rem;
    padding: 0 0.4em;
    outline: none;
    font-weight: 700;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  .btn-default {
    color: #333333;
  }
  
  .label-primary,
  .btn-primary {
    background: var(--primary-color);
    color: white;
  }
  
  .buttonload {
    font-size: 0.7rem;
  }
  
  .buttonload .fa {
    float: right;
    margin-top: 0.3em;
    display: none;
  }
  
  .buttonload:disabled .fa {
    display: block;
  }
  
  .badge {
    display: inline-block;
    min-width: 0.4166666667rem;
    padding: 0.1em 0.5em;
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 0.4166666667rem;
    margin-top: -0.9em;
    border: 0.0416666667rem solid black;
  }
  
  .jscolor {
    font-size: 0.6rem;
    width: 25%;
    outline: none;
    border: 0.0416666667rem solid #fff;
    border-radius: 0.2083333333rem;
    text-align: center;
    height: 0.8333333333rem;
    font-family: sans-serif !important;
  }
  
  .form-control {
    padding: 0.1em 0.4em;
    font-size: 0.6rem;
    height: auto;
  }
  
  .form-control:focus,
  .form-control:active {
    box-shadow: none;
    border: 0.0416666667rem solid cornflowerblue;
  }
  
  .label {
    font-size: 0.65rem;
    padding: 0.2em 0.4em;
    margin-bottom: 0.2em;
    border-radius: 0;
  }
  
  .ReactModal__Overlay {
    z-index: 10000;
  }
  
  .yt-btn {
    background-color: #ddd;
    width: 65%;
    max-width: 8.3333333333rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .brder-tl {
    border-top-left-radius: 1.3em !important;
  }
  
  .modal-backdrop {
    width: 1500vh;
    height: 1500vh;
  }
  
  .brder-tr {
    border-top-right-radius: 1.3em !important;
  }
  
  .brder-bl {
    border-bottom-left-radius: 1.3em !important;
  }
  
  .brder-br {
    border-bottom-right-radius: 1.3em !important;
  }
  
  #login {
    width: 100%;
    max-width: 16.25rem;
    height: 100vh;
    margin: 0 auto;
    border: 0.0416666667rem solid black;
    border-radius: 0.2rem;
    background-color: #fefffc;
    position: relative;
  }
  
  #online_users {
    height: calc(100vh - 15.7rem);
    overflow: auto;
    width: 100%;
  }
  
  #online_users .chat_pane__user_item {
    border-left: none;
    /* to hide user state */
  }
  
  #login-header {
    border-top-left-radius: 0.13rem;
    border-top-right-radius: 0.13rem;
    margin: 0;
    position: relative;
  }
  
  .login-header__label {
    width: 100%;
    padding: 0rem;
    border-radius: 0;
    text-align: left;
  }
  
  .login-header__title {
    color: white;
    padding: 0 0.2rem;
    display: inline-block;
    font-size: 0.625rem;
  }
  
  .login-header__refresh {
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1.1rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    border-radius: 0.2rem;
  }
  
  .login-header__refresh:before {
    top: 0;
    position: absolute;
    left: 0.6em;
  }
  
  .login-banner__img {
    width: 100%;
    max-height: 8rem;
  }
  
  #login-btn-holder {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.01rem;
    text-align: center;
  }
  
  .login-btn-holder__btn {
    font-size: 0.583rem;
    padding: 0 0.3em;
    margin-right: 0.3em;
    border: 0.05em solid #aaa;
    border-radius: 1rem;
    width: 23%;
    height: 1.125rem;
  }
  
  .react-tabs {
    margin-top: -0.16rem;
  }
  
  .react-tabs__tab-list {
    display: flex;
    text-align: center;
    margin-bottom: 0;
    background-color: whitesmoke;
  }
  
  .react-tabs__tab {
    flex-grow: 1;
    font-size: 0.625rem;
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 0.0416666667rem solid #dee2e6;
  }
  
  .react-tabs__tab a,
  .react-tabs__tab a.active {
    color: #337AB8;
    background-color: inherit !important;
    border: none !important;
    margin: 0;
    padding: 0.9em 0;
    font-size: 0.625rem;
    border-bottom-color: #dee2e6;
    border-bottom-style: solid;
    border-bottom-size: 0.0833333333rem;
  }
  
  .react-tabs__tab--selected {
    background: #fefffc;
    border: 0.0416666667rem solid #dee2e6;
    border-bottom-color: #00000000 !important;
    border-bottom-size: 0 !important;
  }
  
  .react-tabs__tab-panel {
    padding: 0.3rem;
    padding-bottom: 0;
  }
  
  .tabs-form-error {
    font-size: 0.6rem;
    padding: 0.1em 0.1em 0.2em 0.1em;
    text-align: center;
    margin: 0;
  }
  
  #tabs-content {
    padding: 0.4rem;
    padding-bottom: 0;
  }
  
  #guest-form__name {
    width: 50%;
    height: 1rem;
    margin-bottom: 0.2rem;
    font-size: 0.625rem;
    padding: 0em 0.5em;
    text-align: left;
    color: #333333;
    margin-right: 0.1rem;
  }
  
  #guest-form__submit,
  #login-form__submit,
  #register-form__submit {
    margin-bottom: 0.1rem;
    font-size: 0.625rem;
    border: 0.0416666667rem solid #bbb;
    box-shadow: none;
    outline: none;
  }
  
  #login-form__submit {
    margin-right: 0.2rem;
  }
  
  #login-form__name,
  #login-form__password,
  #register-form__name,
  #register-form__password {
    width: 50%;
    height: 1rem;
    text-align: left;
    color: #333333;
    font-size: 0.625rem;
  }
  
  #login-form__name,
  #register-form__name {
    display: block;
  }
  
  #login-form__password,
  #register-form__password {
    margin-right: 0.15rem;
  }
  
  #login-form__hidden-label {
    font-size: 0.6rem;
    margin-left: 0.2rem;
  }
  
  #connection_container {
    display: inline-block;
    float: left;
  }
  
  #connection_container #connection-state-on,
  #connection_container #connection-state-off {
    position: relative;
    font-size: 0.625rem;
    background-color: #e0392d;
    color: #fff;
    padding: 0.2em 0.4em;
    border-radius: 0 0.6em 0.6em 0;
    left: 0;
    z-index: 10;
  }
  
  #connection_container #connection-state-on {
    background-color: #5cb85c;
  }
  
  .users-count-label {
    position: relative;
  }
  
  .users-count-label p {
    font-size: 0.583rem;
  }
  
  .label-count {
    margin: 0;
    background: var(--primary-color);
    color: white !important;
    font-size: 0.7rem;
    text-align: center;
  }
  
  .label-count .fa {
    font-size: 0.7rem;
    padding: 0.1em 0.5em;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-right: 0.2em;
  }
  
  .label-count .count {
    margin-left: 0.2rem;
  }
  